* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}


header {
  background-color: #06D6A0;
  color: white;
  text-align: center;
  overflow: hidden;
}

.pagetitle {
  float: left;
  padding: 10px;
}

li {
  float: right;
  display: inline-block;
  padding: 14px;
  font-size: 1.5em;
}

.titleimage {
  clear: both;
  width: 40%;

}

.meow {
  color: white;
  font-size: 3em;
  float:right;
  font-weight: bold;
  height: 50px;
}

.one {
  background-color: #26547C

}

.two {
  background-color: #FFD166;
  padding: 30px;
  font-size: 18px;
}

.three{
  background-color: #F2F2F2;
  padding: 10px;
  height: 700px;
  font-size: 18px;
}
.thankful{
  float: left;
  width: 30%;
  border: black solid 5px;
  margin: 2px;
}

.bake{
  float: left;
  width: 30%;
  border: black solid 5px;
  margin: 2px;
}

.dance{
  float: left;
  width: 30%;
  border: black solid 5px;
  margin: 2px;
}

.icecream{
  float:left;
  width:30%;
  border: black solid 5px;
  margin: 2px;
}

.eat{
  float:left;
  width:30%;
  border: black solid 5px;
  margin: 2px;
}

.four {
  background-color: #26547C;
  padding: 10px;
  margin: auto;
  color:white;
}

.unique {
  display: inline-block;
  font-weight: bold;
  color: #EF476F;
  font-size: 1.4em;
  padding-left: 50px;
  padding-right: 50px;
  padding: 10px;
  text-align: center;
}

#content-wrap{
  margin:auto;
  width: 70%;
}

footer {
  width: 100%;
  background-color: #06D6A0;
  color: black;
  font-size: 1em;
  float: right;
}
